body{
    background-color: rgb(136, 0, 0);
    align-items: center;
    display: flex;
    justify-content: center;
}
#formulario{

}
#formsangue{
    background-color: rgba(0, 0, 0, 0.514);
    display: grid;
    padding: 25px;
    align-items: center;
    justify-items: center;
    width: 600;
    color: aliceblue;
    border-radius: 20px;
}

#enviar{
border-radius:15px;
padding:10px;
}